.clear {
	clear: both;
}
h2 {
	margin-top: 5px;
}
p {
	margin-top: 2px;
}
#ad-space {
}
.text {
	font-size: 130%;
}
img.icon {
	width: 48px;
	height: 48px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
}
.screen-name,
.create_at {
	display: block;
}
.create_at {
	font-weight: normal;
}
.twitter-buttons {
	float: right;
}
#copyright {
	vertical-align: top;
	text-align: right;
}
div.message {
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	opacity: 85%;
	background-color: gray;
	color: white;
	text-align: center;
	font-size: 120%;
	padding: 30px;
}

.ui-icon-retweet {
	background: url(../images/retweet.png);
}
.ui-icon-favorite {
	background: url(../images/favorite.png);
}
