h2 {
	margin-top: 5px;
}
p {
	margin-top: 2px;
}
#ad-space {
}
.text {
	font-size: 130%;
}
img.icon {
	width: 48px;
	height: 48px;
}
#copyright {
	vertical-align: top;
	text-align: right;
}
div.message {
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	opacity: 85%;
	background-color: gray;
	color: white;
	text-align: center;
	font-size: 120%;
	padding: 30px;
}

.ui-icon-retweet {
	background: url(../images/retweet.png);
}
.ui-icon-favorite {
	background: url(../images/favorite.png);
}
