<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:g="http://base.google.com/ns/1.0">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{{.siteTitle|html}}について - {{.siteTitle|html}}</title>
    <meta name="description" content="Twitterの中で日本語ハッシュタグを使って行なわれている、大喜利・ムチャブリ・暇潰しなどなどを纏めてます。" />
    <meta name="keywords" content="{{.siteTitle|html}},日本語ハッシュタグ,ハッシュタグ,大喜利,Twitter,ツイッター" />
    <meta property="og:title" content="{{.siteTitle|html}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.e-hash.jp/" />
    <meta property="og:image" content="http://www.e-hash.jp/favicon.ico" />
    <meta property="og:site_name" content="{{.siteTitle|html}}" />
    <meta property="fb:admins" content="100001493178908" />
    <link href="/css/default.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/style.css" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jstockticker-1.1.js"></script>
    <script src="/js/common.js" type="text/javascript"></script>
  </head>
  <body>
    <a name="top" id="top"></a>
    <div id="header">
      <div id="ticker">
        <div id="ticker-elements">
        </div>
        <div id="ticker-elements-hide">
          {{range .Common_HashtagsForTicker}}
            <span><a class="subject_link" href="#" data-hashtag="{{.Name|html}}">{{.Name|html}}</a></span>
          {{end}}
        </div>
      </div>
      <div id="social-bookmarks">
        <div>
          <g:plusone size="medium" href="http://www.e-hash.jp/"></g:plusone>
        </div>
        <div>
          <a href="http://b.hatena.ne.jp/entry/http://www.e-hash.jp/" class="hatena-bookmark-button" data-hatena-bookmark-title="#イーハッシュJP" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
        <div>
          <iframe src="http://www.facebook.com/plugins/like.php?app_id=168512816559710&amp;href=http%3A%2F%2Fwww.e-hash.jp%2F&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <div id="user-info">
          {{if .user.ScreenName}}
          <img src="http://img.tweetimag.es/i/{{.user.ScreenName|html}}_m" />
          <a href="/signout">サインアウト</a>
          {{end}}
        </div>
      </div>
      <h1><a href="/">{{.siteTitle|html}}</a></h1>
      <div class="clear"></div>
    </div>
    <div id="topad">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-6994803411870749";
        /* ビッグ */
        google_ad_slot = "5775766760";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
    <div id="main-container">
      <div id="menu">
        <ul class="menu">
          <li><a href="/"><span>トップ</span></a></li>
          <li><a href="/hashtags"><span>ハッシュタグ一覧</span></a></li>
          <li><a href="/about" class="active"><span>{{.siteTitle|html}}について</span></a></li>
        </ul>
      </div>
      <div id="main">
        <div id="introduction">
          <span>
            Twitterの中で日本語ハッシュタグを使って行なわれている、大喜利・ムチャブリ・暇潰しなどなどを纏めてます。
          </span>
        </div>
        <div id="service">
          <span>
            <p>このサイトでは、TwitterのOAuth認証を行なうことで、日本語ハッシュタグに関連するつぶやきに、Like! したり、日本語ハッシュタグに関するつぶやきを登録することができるようになります。</p>
            <p>是非、認証を行なって、このサイトでLike!したりつぶやいて下さい。</p>
            <p>今後、細々と改善していきたいです。日本語ハッシュタグに関するつぶやきや反応を見て、楽しんでもらえれば嬉しいです。</p>
          </span>
        </div>
        <div id="contact">
          <span>
            このサイトについてのお問合せは、<a id="contact-to" href="#">こちら</a>まで。
          </span>
        </div>
        <div class="virtual-blank">
        </div>
      </div>
      <div id="sidebar">
        <div class="subject_list">
          <h5>人気</h5>
          {{range .Common_HashtagsHot}}
            <span><a class="subject_link" href="#" data-hashtag="{{.Name|html}}">{{.Name|html}}</a></span>&nbsp;
          {{end}}
        </div>
        <hr />
        <div id="sidead">
          <script type="text/javascript"><!--
            google_ad_client = "ca-pub-6994803411870749";
            /* サイド */
            google_ad_slot = "1291018894";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
          </script>
          <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
        <hr />
        <div class="subject_list">
          <h5>最新</h5>
          {{range .Common_HashtagsNew}}
            <span><a class="subject_link" href="#" data-hashtag="{{.Name|html}}">{{.Name|html}}</a></span>&nbsp;
          {{end}}
        </div>
      </div>
      <br clear="all"/>
    </div>
    <div id="footer">
      <div id="copyright">
        (c) smeghead, 2011.
      </div>
      <div class="facebook-like">
        <div id="fb-root"></div>
        <script src="/js/fb-like.js"></script>
        <div class="fb-like" data-href="http://www.e-hash.jp/" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
      </div>
    </div>
    <!-- twitter follow badge by go2web20 -->
    <script src='http://www.go2web20.net/twitterfollowbadge/1.0/badge.js' type='text/javascript'></script><script type='text/javascript' charset='utf-8'><!--
    tfb.account = 'e_hash_jp';
    tfb.label = 'follow-me';
    tfb.color = '#588528';
    tfb.side = 'l';
    tfb.top = 80;
    tfb.showbadge();
    --></script>
    <!-- end of twitter follow badge -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    </script>
  </body>
</html>
