<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>なにこれ？</title>
    <link href="/css/default.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/style.css" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/js/common.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><a href="/">なにこれ？</a></h1>
    <form action="" method="POST">
      <input type="text" name="hashtag" value="" />
      <input type="submit" value="register hashtag." />
    </form>
  </body>
</html>
