        {.repeated section Tweets}
        <div class="subject_block">
          <div class="icon_block">
            <a class="profile" href="https://twitter.com/intent/user?screen_name={Screen_name}" data-key="{Hashtag|html}:{Id_Str}"><img class="icon" src="{Profile_Image_Url}" /></a>
          </div>
          <div class="subject_right">
            <div class="twitter-buttons">
              <a data-key="{Hashtag|html}:{Id_Str}"><div class="button favorite" data-href="https://twitter.com/intent/favorite?tweet_id={Id_Str}"></div></a>
              <a data-key="{Hashtag|html}:{Id_Str}"><div class="button retweet" data-href="https://twitter.com/intent/retweet?tweet_id={Id_Str}"></div></a>
              <a data-key="{Hashtag|html}:{Id_Str}"><div class="button reply" data-href="https://twitter.com/intent/tweet?in_reply_to={Id_Str}"></div></a>
            </div>
            <div class="subject_record">
              <a data-key="{Hashtag|html}:{Id_Str}" class="profile" href="https://twitter.com/intent/user?screen_name={Screen_name}">{Screen_name|html}</a>
              <span data-screenname="{Screen_name}" data-statusid="{Id_Str}/" class="create_at">{Created_At}</span>
            </div>
            <div class="text"> {Text|html}</div>
          </div>
          <br clear="all" />
        </div>
        {.end}
